.footer {
  border-top: 1px solid var(--border);
  padding: 32px 0;
  margin-top: auto;
  color: var(--secondary);
  font-size: 12.80px;
  text-align: center;
  background-color: var(--background);
  position: relative;
  z-index: 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 16px;
}
.link{
color: rgb(51, 51, 188);

text-decoration: none;
}
